body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Map inside the yellow box */

.map-container {
    width: 100%;   /* Adjust as needed */
    height: 80svh; /* Fixed height */
    margin: auto;  /* Center the map */ 
    border: 2px solid #ccc; /* Border around the map */
}

#map {
    height: 100%;
    width: 100%;
}


.button {
    text-decoration: none; /* Remove underline */
    padding: 8px 16px; /* Padding for button */
    color: black; /* Black text */
    background-color: #FBBC04;  /* background */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    border: 2px solid black; /* Black border */
    transition: background-color 0.3s; /* Smooth color transition */
    cursor: pointer;
}


h2 { 
    text-align: center;
    /*background-color: #FBBC04;*/
    padding: 5px;
    max-width: fit-content;
    border-radius: 12px;
    border-color: #333;
    color: #333;
    margin:auto;
}


.routes-table {
    border-collapse: collapse;
    width: 100%;
}

.routes-table th, .routes-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.routes-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.routes-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .boulder-section {
        flex-direction: column;
    }
}

/* Container for positioning the home button */
.home-button-container {
    width: 100%;
    background-color: #FBBC04;
}

/* Style for the home button (image) */
.home-button {
    display: flex; /* Enables alignment for child img */
    justify-content: center;
    align-items: center;
    width: 125px; /* Adjust size as needed */
    height: 70px; /* Adjust size as needed */
    margin-left: 15px;
}

.home-button img {
    width: 125px;
    height: 100%;
    background-color: #FBBC04;
    border-radius: 10%; /* Make image button round */
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover effect to change the image color */
.home-button img:hover {
    transform: scale(1.05); /*  Slight zoom on hover */
    /*filter: brightness(1.2);  Color change effect */
    cursor: pointer; /* Change cursor to pointer */
}

.navbar {
    background-color: #FBBC04;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out the elements */
    padding: 10px 4%; 
    margin-bottom: 10px;
}


/* Style for the middle navigation links */
.navbar .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Makes it take up available space */
}


.navbar .nav-links a {
    padding: 26px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
}

.nav-links a.active {
    background-color: #ffda6c;
}
.nav-links a:hover {
    background-color: #ffda6c;
}



/* Style for the right section (Login button) */
.navbar .login-container {
    display: flex;
    align-items: center;
    margin-left: auto !important; /* Potisne gumb na desno */
}


/* Change color on hover */
.navbar a:hover {
    background-color: #FFD966;
    color: black;
}

/* Styling for the centered description box */
.centered-box {
    border: 3px solid #FBBC04; /* Yellow border */
    margin: auto;
    padding: 20px;   
}


/* Style the top navigation bar */
 .top-nav {
    position: fixed;            /* Keep it fixed at the top */
    top: 0;
    right: 0;
    padding: 10px;              /* Add padding for spacing */
    display: flex;              /* Align buttons horizontally */
    gap: 10px;                  /* Space between buttons */
    z-index: 1000;              /* Ensure it appears above other elements */
    background-color: #FBBC04;  /* Optional: background color for contrast */
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;  /* Two columns: auto for labels, flex for inputs */
    gap: 10px;                        /* Space between elements */
    align-items: center;              /* Center-align vertically for even label-input alignment */
    max-width: 400px;                 /* Limit the width of the form */
}


/* Style the username link */
summary {
    cursor: pointer;
    font-weight: bold;
    color: #640057;
    list-style: none;
}

form {
    margin-bottom: 20px; /* Doda razmik med obrazcema */
}

hr.divider {
    border: 0; /* Odstrani privzeti rob */
    border-top: 3px solid #000; /* Tukaj nastaviš debelino in barvo črte */
    margin: 20px 0; /* Razmik nad in pod črto */
  }

/* Style the dialog content */
details {
    position: relative;
    display: block;
}

.logout-dialog {
    position: relative;
    margin-top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.logout-dialog button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.small-button {
    color: black;
    border: 1px solid #888;
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

.small-button:hover {
    background-color: #bbb;
}

