%rebase('layout_template.html', naslov='About us')
<div style="flex-direction: column;">
        <p>Hej, ta stran je moj manjši osebni projekt. Ustvarjena je bila z namenom beleženja nahajališč bolderjev po Sloveniji in njihovo dokumentiranje, 
                saj se imamo smeri odlično opisane v knjigah, medtem ko je za bolderje večkrat precej skopo na roko napisan vodniček, s katerim po gozdu iščeš
                ono eno skalo, ki je lahko po možnosti že popolnoma preraščena z mahom in drevesi. S to stranjo zato poskušam
                narediti eno malo bolj up-to-date zadevo, kjer si delimo različne najnovejše informacije in lokacije bolderjev.</p>
        <p>
                Vsakega, ki si želi prispevati karkoli vabim k sodelovanju. Sodelovanje je lahko v obliki opisovanja in iskanja novih bolderjev, lahko v deljenju 
                osebnih vodničkov, kjer so informacije o nahajanju bolderjev, lahko pa tudi v programerskih pripevkih za izboljšanje strani. V vseh primerih najbolje, 
                če se mi piše na mail genescoutapp@gmail.com (mail je nastal že dolgo tega in se uporablja še za druge projekte).
        </p>
        <p style="font-weight: bold;">
                Torej made with ❤️ by K for everyone in climbing comunity!
        </p>
</div>
