% rebase('layout_template.html', naslov='Bolder info')

<div  style="margin-top: 10px;">
    <div style="border: 3px solid black; background-color: #FBBC04; margin-bottom: 10px; text-align: center">
        <h2> {{bolder.ime}}</h2>
        <label id="coordinates"> ({{bolder.lat}}, {{bolder.lng}}) </label>
        <label id="icon" style="font-size: small; font-style: italic;"></label>
        
    </div>
{{bolder.opis}}
<hr>

<h2>Smeri</h2>
<table class="routes-table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Koordinate</th>
            <th>Opis</th>

        </tr>
    </thead>
    <tbody>
    % for smer in smeri:
        <tr>
            <td>{{smer.ime}}</td>
            <td>{{smer.tezavnost}}</td>
            <td>{{smer.opis}}</td>
        </tr>
    % end
    </tbody>
</table>

<button class="small-button" onclick="document.getElementById('smer-form').style.display='block';">➕ Dodaj smer</button>

<div id="smer-form" style="display: none;">
    <h3>Dodaj novo smer</h3>
    <form action="/dodaj_smer" method="post">
        <label>Ime: <input type="text" name="ime" required></label><br>
        <label>Težavnost: <input type="text" name="tezavnost" required></label><br>
        <label>Opis: <textarea name="opis"></textarea></label><br>
        <input type="hidden" name="bolder_id" value="{{bolder.id}}">
        <button type="submit">Shrani</button>
    </form>
</div>



<hr>

<h2>Parkirišča povezana z bolderjem</h2>
<table class="routes-table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Koordinate</th>
            <th>Opis</th>
            
        </tr>
    </thead>
    <tbody>
    % for park in parkirisca:
        <tr>
            <td>
                <a href="/park_info?id={{bolder.id}}">{{park.ime}}</a>
            </td>
            <td>{{park.lat}}, {{park.lng}}</td>
            <td>{{park.opis}}</td>
            
        </tr>
    % end
    </tbody>
</table>

<form action="/dodaj_parkirisce" method="get">
    <button class="small-button" type="submit">➕ Dodaj parkirišče</button>
</form>
