% rebase('layout_template.html', naslov='Bolder info')

<div  style="margin-top: 10px;">
    <div style="border: 3px solid black; background-color: #FBBC04; margin-bottom: 10px; text-align: center">
        <h2> {{bolder.ime}}</h2>
        <label id="coordinates"> ({{bolder.lat}}, {{bolder.lng}}) </label>
        <label id="icon" style="font-size: small; font-style: italic;"></label>
        
    </div>
{{bolder.opis}}
<hr>

<h3>Smeri</h3>
<table class="routes-table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Koordinate</th>
            <th>Opis</th>

        </tr>
    </thead>
    <tbody>
    % for smer in smeri:
        <tr>
            <td>{{smer.ime}}</td>
            <td>{{smer.tezavnost}}</td>
            <td>{{smer.opis}}</td>
        </tr>
    % end
    </tbody>
</table>

<button class="small-button" onclick="document.getElementById('smer-form').style.display='block';">
    ➕ Dodaj smer
</button>

<div id="smer-form" style="display: none;">
    <h4>Dodaj novo smer</h4>
    <form action="/dodaj_smer" method="post">
        <label>Ime: <input type="text" name="ime" required></label><br>
        <label>Težavnost: <input type="text" name="tezavnost" required></label><br>
        <label>Opis: <textarea name="opis"></textarea></label><br>
        <input type="hidden" name="bolder_id" value="{{bolder.id}}">
        <button type="submit">Shrani</button>
    </form>
</div>



<hr>

<h3>Parkirišča povezana z bolderjem</h3>
<table class="routes-table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Koordinate</th>
            <th>Opis</th>
            
        </tr>
    </thead>
    <tbody>
    % for park in parkirisca:
        <tr>
            <td>
                <a href="/park_info?id={{park.id}}">{{park.ime}}</a>
            </td>
            <td>{{park.lat}}, {{park.lng}}</td>
            <td>{{park.opis}}</td>
            
        </tr>
    % end
    </tbody>
</table>

<button class="small-button" type="button" onclick="document.getElementById('park-form').style.display='block';">
    ➕ Dodaj parkirišče
</button>
<div id="park-form" style="display: none;">
    <h4>Poveži obstoječe parkirišče</h4>
    <form action="/dodaj_povezavo_b_parkirisce" method="post">
        <label>Izberi parkirišče:
            <select name="park_id">
                % for park in parkirisca_sektorja:
                    <option value="{{park.id}}">{{park.ime}} ({{park.lat}}, {{park.lng}})</option>
                % end
            </select>
        </label><br>
        <input type="hidden" name="bolder_id" value="{{bolder.id}}">
        <button type="submit">Dodaj</button>
    </form>

    <h4>Dodaj novo parkirišče</h4>
    <form action="/dodaj_parkirisce_b" method="post">
        <label>Ime: <input type="text" name="ime" required></label><br>
        <label>Koordinate: 
            <input type="number" id="lat" name="lat" step="any" placeholder="Zemljepisna širina" required>
            <input type="number" id="lng" name="lng" step="any" placeholder="Zemljepisna dolžina" required><br>
            <br>
        <label>Opis: <textarea name="opis"></textarea></label><br>
        <input type="hidden" name="bolder_id" value="{{bolder.id}}">
        <button type="submit">Shrani</button>
    </form>
</div>
