%rebase('layout_template.html', naslov='Dodaj bolder')

<!-- še veliko dela. Preveri povezave do funkcij, naredi funkcije, povezava do tabelc!!! -->

% if uporabnik:

    <div class="form-content">
        <h2>Dodaj bolder</h2>
        <form action="/dodaj_bolder" method="POST">
            <label for="b_ime">Ime bolderja:</label>
            <input type="text" id="b_ime" name="b_ime" required>
            <br>
            <br>
            <label for="boulder_coordinates">Koordinate:</label><br>
            <input type="number" id="b_lat" name="b_lat" step="any" placeholder="Zemljepisna širina" required>
            <input type="number" id="b_lng" name="b_lng" step="any" placeholder="Zemljepisna dolžina" required><br>
            <br>
            <label for="b_opis">Opis:</label><br>
            <textarea name="b_opis" cols="40" rows="5" placeholder="Navodila do bolderja ipd." required></textarea>
            <br>
            <br>
            <label for="Sektor">Sektor:</label>
            <input type="text" id="sektor" name="sektor" placeholder="Ime sektorja" required >
            <br> Sektor še ne obstaja? Glej dol
            <br>
            
            % if sektor_msg:
            <p style="color: green; font-weight: bold;">{{ sektor_msg }}</p>
            % end

            <button class="button" type="submit" style="margin: 0px;">Dodaj bolder</button>
        </form>
    </div>

    <hr class="divider">

    <div class="form-content">
        <h2>Dodaj sektor</h2>
       <form action="/dodaj_sektor" method="post">
            <label for="s_ime">Ime sektorja:</label><br>
            <input type="text" id="s_ime" name="s_ime" required>
            <br>
            <br>
        
            <label for="pokrajina">Pokrajina:</label><br>
            <select id="pokrajina" name="pokrajina" required>
                <option value="Gorenjska">Gorenjska</option>
                <option value="Štajerska">Štajerska</option>
                <option value="Prekmurje">Prekmurje</option>
                <option value="Koroška">Koroška</option>
                <option value="Notranjska">Notranjska</option>
                <option value="Primorska">Primorska</option>
                <option value="Dolenjska">Dolenjska</option>
            </select><br><br>
    
            <label for="sector_coordinates">Koordinate sektorja:</label><br>
            <input type="number" id="s_lat" name="s_lat" step="any" placeholder="Zemljepisna širina" required>
            <input type="number" id="s_lng" name="s_lng" step="any" placeholder="Zemljepisna dolžina" required><br><br>
    
            <label for="s_opis">Opis:</label><br>
            <textarea id="s_opis" name="s_opis" required></textarea><br><br>
    
            <button class="button" type="submit" style="margin: 0px;">Dodaj sektor</button>
        </form>
    </div>
% else:
    Za dodajanje bolderjev morate biti prijavljeni.
% end
